body {
    width: 100%;
    height: 100vh;
    margin: 0;
    
    color: #0d0d0d;
}

input, textarea, select {
    width: 100%;
    margin: 5px 0 20px 0;
    min-height: 2.5em;
}

h1, p {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    display: block;
}

span {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

form {
    margin: auto;
    padding: 10px;
    /* width: 70vw; */
    min-width: 500px;
    max-width: 600px;
    background-color: #fef9f8;
}

/* removed the width rule for .inline elements, setting them inline with labels */
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

fieldset {
    padding: 20px;
    border: none;
}

/* center submit button */
input[type="submit"]{
    width: 50%;
    margin: 1em auto;
    display: block;
    background-color: #ef9273;
}